<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="MemberVO" type="kr.pe.courage.member.domain.MemberVO"/>
		<typeAlias alias="SetupVO" type="kr.pe.courage.setup.domain.SetupVO"/>
		<typeAlias alias="ContactVO" type="kr.pe.courage.contact.domain.ContactVO"/>
	</typeAliases>
	
    <mappers>
        <mapper resource="mybatis/mapper/Member.xml"/>
        <mapper resource="mybatis/mapper/Setup.xml"/>
        <mapper resource="mybatis/mapper/Contact.xml"/>
    </mappers>
</configuration>