<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin">

<th:block layout:fragment="cssResource">
	
</th:block>

<th:block layout:fragment="jsResource">
<script type="text/javascript">
<!--
	function initSwitch() {
		if ($(".js-switch")[0]) {
			var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
			elems.forEach(function(html) {
				var switchery = new Switchery(html, {
					color : '#26B99A'
				});
			});
		}
	}
	
	function initContact() {
		$.ajax({
			url: jsContextPath + "/admin/contact",
			type: "GET",
	        dataType:'json',
	        contentType : 'application/json; charset=UTF-8',
	        cache: false,
	        success: function(json) {
	        	if (json) {
	        		if (!utils.isEmpty(json.resultList) && json.resultList.length > 0) {
	        			for (idx in json.resultList) {
		        			var messageEle = $('#messageTemplate').clone().css('display', '');
		        			$(messageEle).attr('id', 'messageTemplate_' + json.resultList[idx].sno);
		        			$(messageEle).find('.js-switch').data('sno', json.resultList[idx].sno);
		        			$(messageEle).find('.js-switch').prop('checked', json.resultList[idx].reply == 'Y' ? true : false);
		        			$(messageEle).find('.btnDelete').data('sno', json.resultList[idx].sno);
		        			$(messageEle).find('#name').html(json.resultList[idx].name);
		        			$(messageEle).find('#message').html(json.resultList[idx].message.replace(/ /gi, '&nbsp;').replace(/\r\n/gi, '<br />'));
		        			
		        			if (utils.isEmpty(json.resultList[idx].phone)) {
		        				$(messageEle).find('#phone').prev().remove();
		        				$(messageEle).find('#phone').remove();
		        			} else {
			        			$(messageEle).find('#phone').html(json.resultList[idx].phone);
		        			}
		        			
		        			$(messageEle).find('#email').html(json.resultList[idx].email);
		        			
		        			var registerDate = moment(json.resultList[idx].registerDate);
		        			$(messageEle).find('#day').html(registerDate.format('DD'));
		        			$(messageEle).find('#month').html(registerDate.format('MMMM'));
		        			$(messageEle).find('#time').html(registerDate.format('HH:mm'));
		        			
		        			$('#messageList').append(messageEle);
		        		}
	        			
	        			initSwitch();
	        		} else {
	        			$('#messageEmpty').show();
	        		}
	        	}
	        },
	        error: function(jqXHR, textStatus, errorThrow) {
	        	utils.errorHandle(jqXHR);
	        	utils.isAuthentication(jqXHR.status);
			}
	    });
	}

	$(document).ready(function() {
		initContact();
		
		$(document).on('click', '.btnDelete', function() {
			if (!confirm('삭제 하시겠습니까?')) {
				return false;
			}
			
			var sno = $(this).data('sno');
			
			$.ajax({
				url: jsContextPath + "/admin/contact/" + sno,
				type: "DELETE",
		        dataType:'json',
		        contentType : 'application/json; charset=UTF-8',
		        cache: false,
		        success: function(json) {
		        	if (json.result == 'success') {
		        		$('#messageTemplate_' + sno).remove();
		    			
		    			if ($('#messageList > li:visible').length <= 0) {
		    				$('#messageEmpty').show();
		    			}
		    			
		    			utils.alertInfo('삭제 되었습니다.');
		        	}
		        },
		        error: function(jqXHR, textStatus, errorThrow) {
		        	utils.errorHandle(jqXHR);
		        	utils.isAuthentication(jqXHR.status);
				}
			});
		});
		
		$(document).on('click', '.js-switch', function() {
			var sno = $(this).data('sno');
			
			$.ajax({
				url: jsContextPath + "/admin/contact/" + sno + '/reply',
				type: "PUT",
		        dataType:'json',
		        data: JSON.stringify({'reply' : $(this).prop('checked') ? 'Y' : 'N'}),
		        contentType : 'application/json; charset=UTF-8',
		        cache: false,
		        success: function(json) {
		        	if (json.result == 'success') {
		        		utils.alertInfo('저장 되었습니다.');
		        	}
		        },
		        error: function(jqXHR, textStatus, errorThrow) {
		        	utils.errorHandle(jqXHR);
		        	utils.isAuthentication(jqXHR.status);
				}
			});
		});
	});
//-->
</script>
</th:block>

<head>
<title>Contact</title> 
</head>

<body>
	<th:block layout:fragment="contents">
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Contact Me</h3>
				</div>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_content">
							<ul id="messageList" class="messages">
								<li id="messageTemplate" style="display: none;">
									<div class="message_date">
										<h3 id="day" class="date text-info">24</h3>
										<p id="month" class="month">May</p>
										<p id="time" class="month">13:59</p>
									</div>
									
									<div class="message_wrapper">
										<h4 id="name" class="heading">Desmond Davison</h4>
										
										<blockquote id="message" class="message">
											Raw denim you
											probably haven't heard of them jean shorts Austin. Nesciunt
											tofu stumptown aliqua butcher retro keffiyeh dreamcatcher
											synth.
										</blockquote>
										
										<br />
										
										<p class="url" style="overflow: overlay;">
											<i class="fa fa-mobile-phone"></i> <span id="phone">010-123-1234</span>
											<i class="fa fa-envelope-o" style="margin-left:10px;"></i> <span id="email">schkkh@naver.com</span>
											<label style="margin-left: 15px"><input type="checkbox" class="js-switch" /> 회신완료</label>
											
											<span style="float: right;">
												<button type="button" class="btn btn-danger btnDelete">삭&nbsp;제</button>
											</span>
										</p>
									</div>
								</li>
								
								<li id="messageEmpty" style="display: none;">
									<div class="message_wrapper">
										<blockquote id="message" class="message">
											등록된 데이터가 없습니다.
										</blockquote>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>