<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head></head>
<body>
	<!-- Top Navigation -->
	<div th:fragment="navigationFragment" class="top_nav">
		<div class="nav_menu">
			<nav>
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:with="keyUserImg=${@environment.getProperty('courage.session.keys.gravatarURL')}, keyUserName=${@environment.getProperty('courage.session.keys.name')}">
							<img alt="avatar" th:src="@{${session[{keyUserImg}]}?:'/images/avatar/anonymous.png'}" th:text="${session[{keyUserName}]}" />
							<span class=" fa fa-angle-down"></span>
						</a>
						
						<ul class="dropdown-menu dropdown-usermenu pull-right">
							<li><a href="javascript:;"> Profile</a></li>
							<li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>