<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head></head>
<body>
	<div th:fragment="navigationFragment" class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/admin/dashboard.html" class="site_title">
					<i class="fa fa-desktop"></i>
					<span th:text="${@environment.getProperty('courage.admin.title')}">Gentelella Alela!</span>
				</a>
			</div>

			<div class="clearfix"></div>

			<!-- menu profile quick info -->
			<div class="profile clearfix">
				<div class="profile_pic" th:with="keyUserImg=${@environment.getProperty('courage.session.keys.gravatarURL')}">
					<img alt="avatar" th:src="@{${session[{keyUserImg}]}?:'/images/avatar/anonymous.png'}" class="img-circle profile_img" />
				</div>
				<div class="profile_info" th:with="keyUserName=${@environment.getProperty('courage.session.keys.name')}">
					<span>Welcome,</span>
					<h2 th:text="${session[{keyUserName}]}">John Doe</h2>
				</div>
			</div>
			<!-- /menu profile quick info -->

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li><a><i class="fa fa-edit"></i> Board <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a th:href="@{/admin/portfolio.html}">Portfolio</a></li>
								<li><a th:href="@{/admin/contact.html}">Contact</a></li>
								<li><a th:href="@{/admin/memo.html}">Memo</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav side-menu">
						<li>
							<a><i class="fa fa-gear"></i> Setup <span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a th:href="@{/admin/setup.html}">Intro</a></li>
								<li><a th:href="@{/admin/account.html}">Account</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- /sidebar menu -->

			<!-- /menu footer buttons -->
			<div class="sidebar-footer hidden-small">
				<a data-toggle="tooltip" data-placement="top" title="Settings"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen"> <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				</a>
			</div>
			<!-- /menu footer buttons -->
		</div>
	</div>
</body>
</html>