<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head></head>
<body>
    <!-- Footer -->
    <footer th:fragment="footerFragment" class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-8 col-md-offset-2">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li th:if="${introInfo.github != null and introInfo.github !=''}">
                                <a th:href="${introInfo.github}" target="_blank" class="btn-social btn-outline"><span class="sr-only">Github</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li th:if="${introInfo.facebook != null and introInfo.facebook !=''}">
                                <a th:href="${introInfo.facebook}" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li th:if="${introInfo.googlePlus != null and introInfo.googlePlus !=''}">
                                <a th:href="${introInfo.googlePlus}" target="_blank" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li th:if="${introInfo.twitter != null and introInfo.twitter !=''}">
                                <a th:href="${introInfo.twitter}" target="_blank" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li th:if="${introInfo.linkedIn != null and introInfo.linkedIn !=''}">
                                <a th:href="${introInfo.linkedIn}" target="_blank" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" th:text="${introInfo.createBy} != null ? |Create By ${introInfo.createBy}| : 'Create By Courage'"></div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div th:fragment="scrollTop" class="scroll-top page-scroll hidden-sm hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</body>
</html>