<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head></head>
<body>
    <!-- Navigation -->
    <nav th:fragment="navigationFragment" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">Courage</a>
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                <div id="avartar-xs" class="visible-xs">
                	<div class="dropdown pull-right">
		               	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<img alt="avatar" th:src="@{/images/avatar/anonymous.png}" src="/images/avatar/anonymous.png" class="rotate gravatarImg" />
						</a>
						
						<th:block th:replace="layout/fragments/navigation :: dropdown-menu"></th:block>
					</div>
				</div>
			</div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li id="signin">
                    	<a href="#signInModal" class="sign-in" data-toggle="modal" data-target="#signInModal">
                    		<span class="sr-only">SignIn</span><i class="fa fa-fw fa-sign-in"></i>
                    	</a>
                    </li>
                    <li id="avartar" class="hidden-xs" style="display: none;">
                    	<div class="dropdown">
	                    	<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-left: 15px; background-color: #2c3e50">
	                    		<img alt="avatar" th:src="@{/images/avatar/anonymous.png}" src="/images/avatar/anonymous.png" class="rotate gravatarImg" />
	                    	</a>
							
							<th:block th:replace="layout/fragments/navigation :: dropdown-menu"></th:block>
						</div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <th:block th:fragment="dropdown-menu">
    	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li><a role="menuitem" href="#">Profile</a></li>
			<li><a role="menuitem" href="#">Setting</a></li>
			<li class="divider"></li>
			<li><a role="menuitem" href="#">Sign Out</a></li>
		</ul>
    </th:block>
</body>
</html>