<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:fragment="adminResourceConfigFragment">

<title th:text="${@environment.getProperty('courage.web.title')}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Courage PortfoLog</title>

<th:block th:replace="layout/fragments/adminResourceConfig :: resourceCSS"></th:block>
<th:block layout:fragment="cssResource"></th:block>
<script th:inline="javascript">
	var jsContextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ "";
</script>
</head>

<body class="sb-nav-fixed">
	
	<nav th:replace="layout/fragments/adminTopNavigation :: navigationFragment"></nav>
	
	<div id="layoutSidenav">
		<div th:replace="layout/fragments/adminSideNavigation :: navigationFragment"></div>
		<div layout:fragment="contents"></div>
	</div>
	
	<th:block th:replace="layout/fragments/adminResourceConfig :: resourceJS"></th:block>
	<th:block layout:fragment="jsResource"></th:block>
</body>
</html>