<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:fragment="resourceConfigFragment">

<title th:text="${@environment.getProperty('courage.web.title')}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Courage PortfoLog</title>

<th:block th:replace="layout/fragments/resourceConfig :: resourceCSS"></th:block>
<th:block layout:fragment="cssResource"></th:block>
<script th:inline="javascript">
	var jsContextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ "";
</script>
</head>

<body id="page-top" class="index">
	<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
	
	<nav th:replace="layout/fragments/navigation :: navigationFragment"></nav>
	
	<div layout:fragment="contents"></div>
	
	<footer th:replace="layout/fragments/footer :: footerFragment"></footer>
	
	<div th:replace="layout/fragments/footer :: scrollTop"></div>
	
	<th:block th:replace="layout/fragments/modals :: modalsFragment"></th:block>
	
	<th:block th:replace="layout/fragments/resourceConfig :: resourceJS"></th:block>
	<th:block layout:fragment="jsResource"></th:block>
</body>
</html>